.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0rem;
  align-self: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgb(211, 209, 209);
  /* position: fixed;
  width: 80%; */
}
.HeaderLogo {
  width: 100%;
}
.Header .R .Login > * {
}
.Header > .L {
  width: 40px;
}
Header > .L img {
  width: 40px;

  padding: 0;
}
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
li {
  margin-right: 1rem;
  list-style: none;
  font-size: 1.2rem;
  color: var(--blue-color);
}
